/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014/12/15, 0:52:47
    Author     : dilab
*/

@charset "UTF-8";

body{  
  margin: 0;
  padding: 80px 0;
  line-height: 1.5;
  font-family: sans-serif;
}

h1 {
  padding: 0 20px;
  margin: 0;
}
h1 a {
  width: 212px;
  height: 92px;
  display: block;
  font-family: 'Impact';
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

h2 {
  border-left: 8px solid Black;
  padding-left: 15px;
  font-family: 'Impact';
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 5px 0;
  background-color: black;
  color: #FFF;
  box-shadow: 0 2px 15px 5px #AAA;
}

header ul {
  list-style: none;
  margin: 0 0 0 180px;
  position: absolute;
  top: 25px;
  right: 20px;
}
header ul li {
  float: left;
  padding-left: 24px;
  margin-left: 20px;
}
header ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Impact';
}

#content {
  height: 100%;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 800px
}

section {
  margin: 0 0 40px 0;
}

article{
    border: 3px solid black;
    padding: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 10px 0;
  background-color: black;
  color: #FFF;
  text-align: center;
  box-shadow: 0 2px 15px 5px #AAA;
}

#sidebar{
    background-color: black;
    width: 200px;
    margin-left: 5px;
    box-shadow: 0 2px 15px 5px #AAA;
}
#sidebar div{
    color: white;
}

/* 隠し文字 */
.hidden {
  border: none;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* Index */
/*----------------------------------------------------------*/
#index-title{
    text-align: center;
}
.page-title{
    font-family: 'Impact';
    border-bottom: 8px solid Black;
    font-size: 5em;
    margin-bottom: 0;
}
p.division{
    font-family: 'Impact';
    font-size: 1.3em;
    margin-bottom: 0;
}
p.page-caption{
    font-family: 'Impact';
    font-size: 1.5em;
    margin-top: 0;
}
div#latest-posts{
    border:3px solid;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.a-post p{
    text-decoration: none;
    color: black;
    font-family: arial black;
}
div.a-post p a{
    text-decoration: none;
    color: black;
    font-family: arial black;
}
div.a-post p a:hover{
    text-decoration: none;
    color: #AAA;
    font-family: arial black;
}
div.top-image-area a img{
    max-width: 100%;
}

/* single */
/*-----------------------------------------------------------*/
h3.single {
  border-left: 4px solid Black;
  padding-left: 10px;
  font-family: arial black;
}

/* archive */
/*-------------------------------------------------------------*/
a.link_title{
    text-decoration: none;
    color: black;
    font-family: arial black;
}
a.link_title:hover{
    text-decoration: none;
    color: #AAA;
    font-family: arial black;
}